<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thank You</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'recipes' %}">Recipes</a></li>
      </ul>
    </nav>
    <div>
      <h1>Thank You!</h1>
      <p>Thank you for submitting your recipe:</p>
      <h2>Recipe Name: {{ name }}</h2>
      <p><strong>Ingredients:</strong></p>
      <pre>{{ ingredients }}</pre>
      <p><strong>Steps:</strong></p>
      <pre>{{ steps }}</pre>
      <p><a href="{% url 'index' %}">Go back to Home</a></p>
    </div>
  </body>
</html>
