<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thank You</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <nav id="main-nav" style="display: none">
      <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'recipes' %}">Recipes</a></li>
        <li><a href="#" id="sign-off">Sign Off</a></li>
        <li><a href="#" id="profile-settings-link">Profile Settings</a></li>
      </ul>
    </nav>

    <div id="thank-you-section">
      <h1>Thank You!</h1>
      <p>Thank you for adding the following recipe:</p>
      <div>
        <p><strong>Name:</strong> {{ name }}</p>
        <p><strong>Description:</strong> {{ description }}</p>
        <p><strong>Category:</strong> {{ category }}</p>
        <p>
          <strong>Image URL:</strong>
          <a href="{{ imageurl }}" target="_blank">{{ imageurl }}</a>
        </p>
        <p><strong>Ingredients:</strong></p>
        <pre>{{ ingredients }}</pre>
        <p><strong>Instructions:</strong></p>
        <pre>{{ instructions }}</pre>
      </div>
      <p><a href="{% url 'index' %}">Go back to Home</a></p>
    </div>

    <div id="profile-settings" style="display: none">
      <h1>Profile Settings</h1>
      <form id="profile-form">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required /><br />
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required /><br />
        <label for="profile_email">New Email:</label>
        <input
          type="email"
          id="profile_email"
          name="new_email"
          required
        /><br />
        <button type="submit">Update Profile</button>
      </form>
      <form id="password-form">
        <label for="current_password">Current Password:</label>
        <input
          type="password"
          id="current_password"
          name="current_password"
          required
        /><br />
        <label for="new_password">New Password:</label>
        <input
          type="password"
          id="new_password"
          name="new_password"
          required
        /><br />
        <button type="submit">Change Password</button>
      </form>
      <button type="button" id="delete-account-button">Delete Account</button>
      <p id="profile-message"></p>
      <button type="button" id="go-back-home">Go Back to Home</button>
    </div>

    <script>
      function getCSRFToken() {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, 10) === "csrftoken=") {
              cookieValue = decodeURIComponent(cookie.substring(10));
              break;
            }
          }
        }
        return cookieValue;
      }

      const csrfToken = getCSRFToken();

      function showAuthenticatedSections() {
        document.getElementById("main-nav").style.display = "block";
        document.getElementById("thank-you-section").style.display = "block";
      }

      document
        .getElementById("sign-off")
        .addEventListener("click", function () {
          localStorage.removeItem("token");
          window.location.href = "/";
        });

      document
        .getElementById("profile-settings-link")
        .addEventListener("click", function (event) {
          event.preventDefault();
          document.getElementById("profile-settings").style.display = "block";
          document.getElementById("thank-you-section").style.display = "none";
          fetchUserInfo();
        });

      function fetchUserInfo() {
        const token = localStorage.getItem("token");
        if (!token) {
          console.error("Token not found in local storage.");
          return;
        }

        fetch("{% url 'get_user_info' %}", {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": csrfToken,
            Authorization: "Bearer " + token,
          },
        })
          .then((response) => response.json())
          .then((data) => {
            document.getElementById("first_name").value = data.firstName;
            document.getElementById("last_name").value = data.lastName;
            document.getElementById("profile_email").value = data.email;
            document.getElementById("profile-message").textContent = "";
          })
          .catch((error) => {
            console.error("Error fetching user info:", error);
            const messageElement = document.getElementById("profile-message");
            messageElement.textContent = error.message;
            messageElement.style.color = "red";
          });
      }

      document
        .getElementById("profile-form")
        .addEventListener("submit", async function (event) {
          event.preventDefault();
          const first_name = document.getElementById("first_name").value;
          const last_name = document.getElementById("last_name").value;
          const new_email = document.getElementById("profile_email").value;

          const response = await fetch("{% url 'update_name' %}", {
            method: "PUT",
            headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": csrfToken,
              Authorization: "Bearer " + localStorage.getItem("token"),
            },
            body: JSON.stringify({
              firstName: first_name,
              lastName: last_name,
              newEmail: new_email,
            }),
          });

          const data = await response.json();
          const messageElement = document.getElementById("profile-message");

          if (response.ok) {
            messageElement.textContent = "Profile updated successfully.";
            messageElement.style.color = "green";
          } else {
            messageElement.textContent = data.message;
            messageElement.style.color = "red";
          }
        });

      document
        .getElementById("password-form")
        .addEventListener("submit", async function (event) {
          event.preventDefault();
          const current_password =
            document.getElementById("current_password").value;
          const new_password = document.getElementById("new_password").value;

          const response = await fetch("{% url 'update_password' %}", {
            method: "PUT",
            headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": csrfToken,
              Authorization: "Bearer " + localStorage.getItem("token"),
            },
            body: JSON.stringify({
              oldPassword: current_password,
              newPassword: new_password,
            }),
          });

          const data = await response.json();
          const messageElement = document.getElementById("profile-message");

          if (response.ok) {
            messageElement.textContent = "Password updated successfully.";
            messageElement.style.color = "green";
          } else {
            messageElement.textContent = data.message;
            messageElement.style.color = "red";
          }
        });

      document
        .getElementById("delete-account-button")
        .addEventListener("click", async function () {
          const confirmation = confirm(
            "Are you sure you want to delete your account? This action cannot be undone."
          );
          if (confirmation) {
            const token = localStorage.getItem("token");
            const response = await fetch("{% url 'delete_account' %}", {
              method: "DELETE",
              headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrfToken,
                Authorization: "Bearer " + token,
              },
            });

            const messageElement = document.getElementById("profile-message");

            if (response.ok) {
              alert("Account deleted successfully.");
              localStorage.removeItem("token");
              document.getElementById("sign-off").click();
            } else {
              try {
                const data = await response.json();
                messageElement.textContent = data.message;
                messageElement.style.color = "red";
              } catch (error) {
                console.error("Error deleting account:", error);
                messageElement.textContent = "Error deleting account.";
                messageElement.style.color = "red";
              }
            }
          }
        });

      document
        .getElementById("go-back-home")
        .addEventListener("click", function () {
          window.location.href = "{% url 'index' %}";
        });

      document.addEventListener("DOMContentLoaded", function () {
        const token = localStorage.getItem("token");
        if (token) {
          showAuthenticatedSections();
        }
      });
    </script>
  </body>
</html>
